language: python
python: 2.7
env:
  - TOX_ENV=py27
  - TOX_ENV=py33
  - TOX_ENV=py34
  - TOX_ENV=docs
  - TOX_ENV=flake8
  - TOX_ENV=coverage
install:
  - pip install cffi tox
script:
  - tox -e $TOX_ENV -- -v
  - if [ $TOX_ENV = "coverage" ]; then pip install coveralls; coveralls; fi
