include setup.py runtests.py tasks.py
include setup.cfg tox.ini
include AUTHORS CHANGELOG LICENSE README.rst MANIFEST.in TODO
include *requirements.txt
include lib/gruvi/*.py
include vendor/txdbus/*.py
include src/*.py src/*.[ch]
include tests/*.py tests/*.cnf tests/bin/*
exclude tests/bin/*.*
include docs/Makefile docs/*.py docs/*.rst
include examples/*.py
exclude __pycache__/* *.so
